<div class="container">
  <h1>Name: {{ product.name }}</h1>
  <p>Id: {{ product.id }}</p>
  <p>Description: {{ product.description }}</p>
  <p>Price: {{ product.price }}</p>
  <p>Images: {{ product.images }}</p>
  <p>Stock: {{ product.stock }}</p>
  <p>Rating: {{ product.rating }}</p>
  <p>Store Id: {{ product.store_id }}</p>

  <h2>Comments:</h2>
  <hr>
  <div *ngFor="let comment of comments">
    <h4>User {{ comment.user_id }}</h4>
    <p>{{ comment.comment }}</p>
    <p>Comment Rating: {{ comment.comment_rating }}</p>
    <p>Product Rating: {{ comment.product_rating }}</p>
    <hr>
  </div>

  <div *ngIf="token">
  <h2>Make a comment:</h2>
  <form (ngSubmit)="sendComment()">
    <div class="form-group">
      <label for="comment">Comment: </label>
      <textarea class="form-control" rows="5" id="comment"[(ngModel)]="comment" name="comment"></textarea>
    </div>
    <div class="form-group">
      <label for="product_rating">Product Rating:</label>
      <select id="product_rating" [(ngModel)]="product_rating" value="{{ product_rating }}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <input type="submit" class="btn btn-default" value="Send">
  </form>
  </div>

  <h1>Page Info</h1>
  <p>Current Page: {{ currentPage }}</p>
  <p>Total: {{ pages.length }}</p>
  <p>Previous Page: {{ previousPageUrl }}</p>
  <p>Next Page: {{ nextPageUrl }}</p>

  <ul class="pagination" *ngFor="let i of pages">
    <li *ngIf="currentPage-1 > 0 && i==0" style="cursor:pointer"><a
      (click)="getProductComment(currentPage-1)">previous</a></li>
    <li style="cursor:pointer"><a (click)="getProductComment(i+1)">{{ i+1 }}</a></li>
    <li *ngIf="currentPage+1 <= numberOfPages && i==pages.length-1" style="cursor:pointer"><a
      (click)="getProductComment(currentPage+1)">next</a></li>
  </ul>
</div>
