<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Safey</a>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="!user"><a routerLink="/login">Login</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <!-- Search -->
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword" id="keyword" name="keyword">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="search(1)">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/profile">{{ user.name }}</a></li>
    </ul>
  </div>
</nav>
{{user | json}}
<router-outlet></router-outlet>
