<div class="container">
  <div class="jumbotron">
    <h1>Search Products</h1>
  </div>
  <form>
    <input type="text" id="keyword" [(ngModel)]="keyword" name="keyword">
    <button type="submit" (click)="searchProduct(1)">Search</button>
  </form>

  <h1>Products</h1>
  <hr>
  <div *ngFor="let product of products">
    <h4><a routerLink="/product/{{ product.id }}">{{ product.name }}</a></h4>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <hr>
  </div>

  <h1>Page Info</h1>
  <p>Current Page: {{ currentPage }}</p>
  <p>Total: {{ pages.length }}</p>
  <p>Previous Page: {{ previousPageUrl }}</p>
  <p>Next Page: {{ nextPageUrl }}</p>

  <ul class="pagination" *ngFor="let i of pages">
    <li *ngIf="currentPage-1 > 0 && i==0" style="cursor:pointer"><a (click)="searchProduct(currentPage-1)">previous</a></li>
    <li style="cursor:pointer"><a (click)="searchProduct(i+1)">{{ i+1 }}</a></li>
    <li *ngIf="currentPage+1 <= numberOfPages && i==pages.length-1" style="cursor:pointer"><a (click)="searchProduct(currentPage+1)">next</a></li>
  </ul>
</div>
